In [1]:
# Chapter 1

In [71]:
print("Hello, world!")

Hello, world!

In [2]:
2+2

4

In [3]:
53672+156

53828

In [4]:
1/2

0.5

In [5]:
1//2

0

In [6]:
1/1

1.0

In [7]:
1//1

1

In [8]:
5//2.4

2.0

In [9]:
1%2

1

In [10]:
10%3

1

In [11]:
10%-3

-2

In [12]:
-10//-3

3

In [13]:
2**3

8

In [14]:
8*3

24

In [15]:
-3**2

-9

In [16]:
(-3)**2

9

In [17]:
x = 3

In [18]:
x

3

In [65]:
input("The menaing of life:")

The menaing of life:23

'23'

In [66]:
x = input("x:")

x:3

In [67]:
y = input('y:')

y:4

In [68]:
print(int(x)*int(y))

12

In [69]:
if 1 == 2 : print('one equals two')

In [70]:
if 1 == 1 : print('one equals one')

one equals one

In [44]:
2**3

8

In [45]:
pow(2,3)

8

In [46]:
10+pow(2,3*5)/.3

109236.66666666667

In [47]:
abs(-10)

10

In [48]:
round(2/3)

1

In [49]:
import math

In [50]:
math.floor(32.9)

32

In [51]:
math.ceil(32.3)

33

In [52]:
math.sqrt(2)

1.4142135623730951

In [53]:
from math import sqrt

In [54]:
sqrt(2)

1.4142135623730951

In [55]:
foo = math.sqrt

In [56]:
foo(2)

1.4142135623730951

In [57]:
sqrt(-1)

ValueError: math domain error

In [58]:
import cmath

In [59]:
cmath.sqrt(-1)

1j

In [60]:
foo = cmath.sqrt

In [61]:
foo(-1)

1j

In [62]:
(1 + 3j) * (9 + 4j)

(-3+31j)

In [63]:
name = input('what is your name?')

what is your name?Neal

In [64]:
print ('Hello,' + name + '!')

Hello,Neal!

In [1]:
# Chapter 2

In [1]:
edward = ['Edward', 42]

In [2]:
edward

['Edward', 42]

In [3]:
john = ['John', 50]

In [4]:
john

['John', 50]

In [5]:
database = [edward, john]

In [6]:
database

[['Edward', 42], ['John', 50]]

In [7]:
greeting = 'hello'

In [8]:
greeting[0]

'h'

In [9]:
greeting[1]

'e'

In [10]:
greeting[3]

'l'

In [11]:
greeting[-1]

'o'

In [12]:
fourth = input('Year:')[3]

Year:

IndexError: string index out of range

In [13]:
fourth

NameError: name 'fourth' is not defined

In [14]:
months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]

In [15]:
months[0]

'January'

In [16]:
endings = ['st','nd','rd'] + 17*['th']\
        +['st','nd','rd'] + 7*['th']\
        +['st']

In [17]:
endings;

In [19]:
year = input('Year:')

Year:2018

In [20]:
month = input('Month (1-12):')

Month (1-12):6

In [21]:
day = input('Day (1-31): ')

Day (1-31): 23

In [22]:
month_number = int(month)

In [23]:
day_number = int(day)

In [24]:
month_name = months[month_number-1]

In [25]:
day_name = day + endings[day_number-1]

In [26]:
print(month_name + '  ' + day_name + ', ' + year)

June  23rd, 2018

In [27]:
tag = '<a href="http://www.python.org">python web site</a>'

In [28]:
tag[9:30]

'http://www.python.org'

In [29]:
tag[0:1]

'<'

In [30]:
tag[32:-4]

'python web site'

In [31]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
numbers[3:6]

[4, 5, 6]

In [33]:
numbers[0:1]

[1]

In [34]:
numbers[7:10]

[8, 9, 10]

In [35]:
numbers[-3:-1]

[8, 9]

In [36]:
number[-3:0]

NameError: name 'number' is not defined

In [37]:
numbers[-3:]

[8, 9, 10]

In [38]:
numbers[:3]

[1, 2, 3]

In [39]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
url = input('Please enter the URL:')

Please enter the URL:www.python.org

In [42]:
domain = url[11:-4]

In [46]:
print("Domain name: " + domain)

Domain name:

In [47]:
numbers[0:10:2]

[1, 3, 5, 7, 9]

In [48]:
numbers[0:10:4]

[1, 5, 9]

In [49]:
numbers[::4]

[1, 5, 9]

In [50]:
numbers[0:10:-2]

[]

In [51]:
numbers[10:0:2]

[]

In [52]:
numbers[10:0:-2]

[10, 8, 6, 4, 2]

In [53]:
numbers[::-4]

[10, 6, 2]

In [54]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [55]:
'Hello, ' + 'world!'

'Hello, world!'

In [56]:
'python' * 5

'pythonpythonpythonpythonpython'

In [58]:
[23] * 3

[23, 23, 23]

In [59]:
sentence = input("Sentence: ")

Sentence: He's a very naughty boy!

In [60]:
screen_width = 80

In [61]:
text_width = len(sentence)

In [73]:
box_width = text_width + 6

In [74]:
left_margin = (screen_width - box_width) // 2

In [77]:
print()
print(' ' * left_margin + '+' + '-' * (box_width-2) + '+') 
print(' ' * left_margin + '|  ' + ' ' * text_width + '  |') 
print(' ' * left_margin + '|  ' +        sentence + '  |') 
print(' ' * left_margin + '|  ' + ' ' * text_width + '  |') 
print(' ' * left_margin + '+' + '-' * (box_width-2) + '+') 
print()

                         +----------------------------+
                         |                            |
                         |  He's a very naughty boy!  |
                         |                            |
                         +----------------------------+

In [78]:
per = 'rw'

In [79]:
'w' in per

True

In [80]:
'r' in per

True

In [81]:
'y' in per

False

In [82]:
users = ['mlh', 'foo', 'bar']

In [84]:
input('Enter your user name: ') in users

Enter your user name: mlh

True

In [85]:
'p' in 'python'

True

In [86]:
database = [
    ['albert', '1234'],
    ['dilbert', '4242'],
    ['smith', '7524'],
    ['jones', '9843']
]

In [87]:
username = input('User name: ')

User name: smith

In [88]:
pin = input('PIN code: ')

PIN code: 7524

In [89]:
if [username, pin] in database: print('Access grtanted')

Access grtanted

In [94]:
numbers = [100, 24, 678]

In [97]:
len(numbers)

3

In [98]:
max(numbers)

678

In [99]:
min(numbers)

24

In [100]:
max(2, 3)

3

In [101]:
min(9, 3, 2, 5)

2

In [102]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [103]:
x = [1, 1, 1]

In [104]:
x[1]

1

In [105]:
x[1] = 2

In [106]:
x

[1, 2, 1]

In [107]:
names = ['Alice', 'Beth', 'Cecil', 'Dee-Dee', 'Earl']

In [108]:
del names[2]

In [109]:
names

['Alice', 'Beth', 'Dee-Dee', 'Earl']

In [110]:
name = list('perl')

In [111]:
name

['p', 'e', 'r', 'l']

In [112]:
name[2:] = list('ar')

In [113]:
name

['p', 'e', 'a', 'r']

In [114]:
name = list('perl')

In [115]:
name[1:] = list('python')

In [116]:
name

['p', 'p', 'y', 't', 'h', 'o', 'n']

In [117]:
numbers = [1,2]

In [118]:
numbers[1:1] = [2, 3, 4]

In [119]:
numbers

[1, 2, 3, 4, 2]

In [120]:
numbers[1:4] = []

In [121]:
numbers

[1, 2]

In [122]:
lst = [1, 2, 3]

In [123]:
lst.append(4)

In [124]:
lst

[1, 2, 3, 4]

In [126]:
lst.clear()

In [127]:
lst

[]

In [128]:
a = [1, 2, 3]

In [129]:
b = a

In [130]:
b[1] = 4

In [131]:
a

[1, 4, 3]

In [132]:
b

[1, 4, 3]

In [133]:
a = [1, 2, 3]

In [134]:
b = a.copy()

In [135]:
b[1] = 4

In [136]:
a

[1, 2, 3]

In [137]:
['to', 'be', 'to', 'me', 'to'].count('to')

3

In [138]:
x = [[1, 2], 1, 1, 1, 2, [1, 2, [1, 2]]]

In [139]:
x.count(1)

3

In [140]:
x.count([1, 2])

1

In [141]:
a = [1, 2, 3]

In [142]:
b = [4, 5, 6]

In [144]:
a.extend(b)

In [145]:
a

[1, 2, 3, 4, 5, 6]

In [148]:
a + b

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [149]:
knights = ['We', 'are', 'the', 'knights', 'who']

In [150]:
knights.index('who')

4

In [151]:
knights[knights.index('who')]

'who'

In [170]:
numbers = [1, 2, 3, 4, 5, 6]

In [171]:
numbers.insert(3, 'four')

In [172]:
numbers

[1, 2, 3, 'four', 4, 5, 6]

In [173]:
numbers.pop()

6

In [174]:
numbers

[1, 2, 3, 'four', 4, 5]

In [175]:
numbers.pop(3)

'four'

In [176]:
numbers

[1, 2, 3, 4, 5]

In [177]:
x = ['to', 'be', 'or', 'not']

In [178]:
x.remove('be')

In [179]:
x

['to', 'or', 'not']

In [185]:
x = [1, 2, 3]

In [186]:
x.reverse()

In [188]:
x

[3, 2, 1]

In [189]:
x = [4, 6, 2, 1, 7, 9]

In [190]:
x.sort()

In [191]:
x

[1, 2, 4, 6, 7, 9]

In [192]:
y = x.sort()

In [194]:
y

In [195]:
y = x

In [196]:
y

[1, 2, 4, 6, 7, 9]

In [197]:
x = [4, 6, 2, 1, 7, 9]

In [198]:
y = sorted(x)

In [199]:
y

[1, 2, 4, 6, 7, 9]

In [200]:
1, 2, 3

(1, 2, 3)

In [202]:
(1, 2, 3)

(1, 2, 3)

In [203]:
42

42

In [204]:
42,

(42,)

In [205]:
3 * (41 + 2)

129

In [206]:
3 * (41 + 2,)

(43, 43, 43)

In [207]:
# Chapter 3

In [1]:
tag = 'http://www.python.org'

In [2]:
tag[-3:] = 'com'

TypeError: 'str' object does not support item assignment

In [3]:
format = "Hello, %s. %s enough for you?"

In [4]:
values = ('world', 'Hot')

In [5]:
format % values

'Hello, world. Hot enough for you?'

In [6]:
from string import Template

In [7]:
tmpl = Template("Hello, $who! $what enough for you?")

In [8]:
tmpl.substitute(who="Mars", what="Dusty")

'Hello, Mars! Dusty enough for you?'

In [9]:
"{}, {}, and {}".format("first", "second", "third")

'first, second, and third'

In [10]:
from math import pi

In [11]:
"{name} is approximately {value:.7f}".format(value=pi,name="pi")

'pi is approximately 3.1415927'

In [12]:
from math import e

In [13]:
f"Euler's constant is roughly {e}."

"Euler's constant is roughly 2.718281828459045."

In [14]:
"Euler's constant is roughly {e}.".format(e=e)

"Euler's constant is roughly 2.718281828459045."

In [15]:
"{foo} {} {bar} {}".format(1, 2, bar=4, foo=4)

'4 1 4 2'

In [16]:
fullname = ["Alfred", "Smoketoomuch"]

In [17]:
"Mr {name[1]}".format(name=fullname)

'Mr Smoketoomuch'

In [18]:
import math

In [19]:
tmpl = "The math module defines the value {mod.pi} for pi"

In [20]:
tmpl.format(mod=math)

'The math module defines the value 3.141592653589793 for pi'

In [21]:
"The number is {num}".format(num=42)

'The number is 42'

In [22]:
"The number is {num:.2f}".format(num=42)

'The number is 42.00'

In [23]:
"The Middle by Jimmy Eat World".center(39)

'     The Middle by Jimmy Eat World     '

In [24]:
"The Middle by Jimmy Eat World".center(39,"*")

'*****The Middle by Jimmy Eat World*****'

In [25]:
'With a moo-moo here, and a moo-moo there'.find('moo')

7

In [26]:
title="Monty Python's Flying Circus"

In [27]:
title.find('Monty')

0

In [28]:
title.find('Python')

6

In [29]:
subject = '$$$ Get rich noe!!! $$$'

In [30]:
subject.find('$$$')

0

In [31]:
seq = [1, 2, 3, 4, 5]

In [32]:
sep=['+']

In [33]:
sep.join(seq)

AttributeError: 'list' object has no attribute 'join'

In [34]:
seq = ['1', '2', '3', '4', '5']
sep='+'

In [35]:
sep.join(seq)

'1+2+3+4+5'

In [36]:
width = int(input('Please enter width: '))

price_width = 10
item_width  = width - price_width

header_fmt = '{{:{}}}{{:>{}}}'.format(item_width, price_width)
fmt        = '{{:{}}}{{:>{}.2f}}'.format(item_width, price_width)

print('=' * width)

print(header_fmt.format('Item', 'Price'))

print('-' * width)

print(fmt.format('Apples', 0.4))
print(fmt.format('Pears', 0.5))
print(fmt.format('Cantaloupes', 1.92))
print(fmt.format('Dried Apricots (16 oz.)', 8))
print(fmt.format('Prunes (4 lbs.)', 12))

print('=' * width)

Please enter width: 35
===================================
Item                          Price
-----------------------------------
Apples                         0.40
Pears                          0.50
Cantaloupes                    1.92
Dried Apricots (16 oz.)        8.00
Prunes (4 lbs.)               12.00
===================================

In [37]:
#Chapter 4

In [38]:
names = ['Alice', 'Beth', 'Cecil', 'Dee-Dee', 'Earl']

In [39]:
numbers = ['2341', '9102', '3158', '0142', '5551']

In [40]:
numbers[names.index('Cecil')]

'3158'

In [41]:
items = [('name', 'Gumby'), ('age', 42)]
d = dict(items)

In [42]:
d

{'name': 'Gumby', 'age': 42}

In [43]:
d['name']

'Gumby'

In [44]:
d = dict(name='Gumby',age=42)

In [45]:
d

{'name': 'Gumby', 'age': 42}

In [47]:
dd = {'name': 'Gumby', 'age': 42}

In [49]:
dd['name']

'Gumby'

In [50]:
people = {

    'Alice': {
        'phone': '2341',
        'addr': 'Foo drive 23'
    },

    'Beth': {
        'phone': '9102',
        'addr': 'Bar street 42'
    },

    'Cecil': {
        'phone': '3158',
        'addr': 'Baz avenue 90'
    }

}

# Descriptive labels for the phone number and address. These will be used
# when printing the output.
labels = {
    'phone': 'phone number',
    'addr': 'address'
}

name = input('Name: ')

# Are we looking for a phone number or an address?
request = input('Phone number (p) or address (a)? ')

# Use the correct key:
if request == 'p': key = 'phone'
if request == 'a': key = 'addr'

# Only try to print information if the name is a valid key in
# our dictionary:
if name in people: print("{}'s {} is {}.".format(name, labels[key], people[name][key]))

Name: Beth
Phone number (p) or address (a)? p
Beth's phone number is 9102.

In [54]:
phonebook
{'Beth': '9102', 'Alice': '2341', 'Cecil': '3258'}

{'Beth': '9102', 'Alice': '2341', 'Cecil': '3258'}

In [56]:
"Cecil's phone number is {Cecil}".format_map(phonebook)

"Cecil's phone number is 3258"

In [58]:
d = {}

In [59]:
d['name'] = 'Gumby'

In [60]:
d['age'] = 42

In [61]:
d

{'name': 'Gumby', 'age': 42}

In [62]:
returned_value = d.clear()

In [63]:
d

{}

In [64]:
x= {}

In [65]:
y = x

In [66]:
x['key'] = 'value'

In [67]:
y

{'key': 'value'}

In [68]:
x = {}

In [71]:
x= {}
{'key': 'value'}

{'key': 'value'}

In [72]:
x= {}
y = x
x['key'] = 'value'
y

{'key': 'value'}

In [74]:
x.clear()

In [75]:
y

{}

In [80]:
x = {'username': 'admin', 'machines':['foo', 'bar', 'baz']}

In [81]:
y = x.copy()

In [82]:
y['username'] = 'mlh'

In [83]:
y['machines'].remove('bar')
y

{'username': 'mlh', 'machines': ['foo', 'baz']}

In [84]:
x

{'username': 'admin', 'machines': ['foo', 'baz']}

In [85]:
from copy import deepcopy

In [87]:
d = {}
d['names'] = ['Alfred', 'Bertrand']
c = d.copy()
dc = deepcopy(d)
d['names'].append('Clive')

In [88]:
c

{'names': ['Alfred', 'Bertrand', 'Clive']}

In [89]:
dc

{'names': ['Alfred', 'Bertrand']}

In [91]:
{}.fromkeys(['name','age'])

{'name': None, 'age': None}

In [92]:
dict.fromkeys(['name','age'])

{'name': None, 'age': None}

In [93]:
dict.fromkeys(['name','age'],'(unknown)')

{'name': '(unknown)', 'age': '(unknown)'}

In [94]:
d = {}

In [95]:
print(d['name'])

KeyError: 'name'

In [97]:
print(d.get('name'))

None

In [98]:
d['name'] = 'Eric'

In [99]:
d.get('name')

'Eric'

In [100]:
labels = {
    'phone': 'phone number',
    'addr': 'address'
}

name = input('Name: ')

# Are we looking for a phone number or an address?
request = input('Phone number (p) or address (a)? ')

# Use the correct key:
key = request # In case the request is neither 'p' nor 'a'
if request == 'p': key = 'phone'
if request == 'a': key = 'addr'

# Use get to provide default values:
person = people.get(name, {})
label = labels.get(key, key)
result = person.get(key, 'not available')

print("{}'s {} is {}.".format(name, label, result))

Name: Gumby
Phone number (p) or address (a)? batting average
Gumby's batting average is not available.

In [101]:
d = {'title': 'python web site', 'url' : 'http://www.python.org', 'spam' : 0}

In [102]:
d.items()

dict_items([('title', 'python web site'), ('url', 'http://www.python.org'), ('spam', 0)])

In [103]:
it = d.items()

In [104]:
len(it)

3

In [105]:
('spam', 0) in it

True

In [107]:
d['spam'] = 1
('spam', 0) in it

False

In [108]:
d['spam'] = 0
('spam', 0) in it

True

In [109]:
d = {'x': 1, 'y': 2}

In [110]:
d.pop('x')

1

In [111]:
d

{'y': 2}

In [115]:
d = {'title': 'python web site', 'url' : 'http://www.python.org', 'title' : 'python web site'}

In [116]:
d.popitem()

('url', 'http://www.python.org')

In [117]:
d

{'title': 'python web site'}

In [1]:
#Chapter 5

In [5]:
print('age：',42)

age： 42

In [10]:
name = 'Gumby'
salutation = 'Mr.'
greeting = 'Hello,'

In [12]:
print(greeting, salutation,name)

Hello, Mr. Gumby

In [13]:
print(greeting, ',', salutation, name)

Hello, , Mr. Gumby

In [15]:
greeting = 'Hello'
print(greeting,',', salutation, name)

Hello , Mr. Gumby

In [16]:
print("I", "wish", "to", "register", "a", "complaint", sep='')

Iwishtoregisteracomplaint

In [17]:
print("I", "wish", "to", "register", "a", "complaint", sep=' ')

I wish to register a complaint

In [18]:
print("I", "wish", "to", "register", "a", "complaint", sep='_')

I_wish_to_register_a_complaint

In [19]:
print('Hello,',end=' ')
print('world!')

Hello, world!

In [20]:
#------------------------------------------#

In [24]:
from math import *

In [25]:
math.sqrt(4)

NameError: name 'math' is not defined

In [26]:
import math

In [27]:
math.sqrt(4)

2.0

In [28]:
import math as foobar

In [29]:
foobar.sqrt(4)

2.0

In [30]:
from math import sqrt as foobar

In [31]:
foobar(4)

2.0

In [32]:
x, y, z = 1, 2, 3

In [33]:
print(x, y, z)

1 2 3

In [34]:
x, y = y, x

In [35]:
print(x, y, z)

2 1 3

In [36]:
values = 1, 2, 3
values

(1, 2, 3)

In [39]:
x, y, z = values
x

1

In [40]:
scoundrel = {'name' : 'Robin', 'girlfriend': 'Marion'}
key, value = scoundrel.popitem()
key

'girlfriend'

In [41]:
value

'Marion'

In [43]:
a, b, *rest = [1, 2, 3, 4]
rest

[3, 4]

In [44]:
name = 'Albus percival wufirc brian dumbledore'
first, *middle, last = name.split()
middle

['percival', 'wufirc', 'brian']

In [45]:
a, *b, c = "abs"
a,b,c

('a', ['b'], 's')

In [46]:
a

'a'

In [48]:
x = 2
x += 1
x *= 2
x

6

In [49]:
fnord = 'foo'
fnord += 'bar'
fnord *= 2
fnord

'foobarfoobar'

In [51]:
name = input('what is your name?')
if name.endswith('Gumby'):
    print('Hello, Mr. Gumby')

what is your name?all Gumby
Hello, Mr. Gumby

In [52]:
name = input('what is your name?')
if name.endswith('Gumby'):
    print('Hello, Mr. Gumby')
else:
    print('Hello, stranger')

what is your name?Neal
Hello, stranger

In [53]:
num = int(input('Enter a number: '))
if num > 0:
    print('This number is positive')
elif num < 0:
    print('This number is negative')
else:
    print('This number is zero')

Enter a number: 3
This number is positive

In [54]:
name = input('what is your name? ')
if name.endswith('Gumby'):
    if name.startswith('Mr.'):
        print('Hello, Mr. Gumby')
        elif name.startswith('Mrs.'):
            print('Hello, Mrs,Gumby')
else:
    print('Hello, stranger')

what is your name? Mr. Gumby
Hello, Mr. Gumby

In [57]:
x = 1
while x<= 5:
    print(x)
    x =  x+1

1
2
3
4
5

In [59]:
name = ''
while not name:
    name = input('Please enter your name: ')
    print('Hello, {}!'.format(name))

Please enter your name: Neal
Hello, Neal!

In [60]:
words = ['this', 'is', 'an', 'ex', 'parrot']
for word in words:
    print(word)

this
is
an
ex
parrot

In [61]:
words = ['this', 'is', 'an', 'ex', 'parrot']
for ee in words:
    print(ee)

this
is
an
ex
parrot

In [62]:
numbers = [0, 1, 2, 3, 4]
for nuuu in numbers:
    print(nuuu)

0
1
2
3
4

In [63]:
range(0,10)
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:

list(range(0,10,2))

[0, 2, 4, 6, 8]

In [66]:
from math import sqrt
for n in range(99, 0,-1):
    root = sqrt(n)
    if root == int(root):
        print(n)
        break

81

In [67]:
#Chapter 6

In [68]:
fibs = [0, 1]
for i  in range(8):
    fibs.append(fibs[-2] + fibs[-1])

In [69]:
fibs

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [70]:
fibs = [0, 1]
num = int(input('How many Fibonacci numbers do you want?'))
for i in range(num-2):
    fibs.append((fibs[-2] + fibs[-1]))
print(fibs)

How many Fibonacci numbers do you want?10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [71]:
num = int(input('How many Fibonacci numbers do you want?'))
print(fibs(num))

How many Fibonacci numbers do you want?10

TypeError: 'list' object is not callable

In [82]:
def fibs(num):
     result = [0, 1]
     for i in range(num-2):
         result.append((result[-2] + result[-1]))
     return result

In [83]:
num = int(input('How many Fibonacci numbers do you want?'))
print(fibs(num))

How many Fibonacci numbers do you want?10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
from turtle import *
forward(100)
left(120)
forward(100)
left(120)
forward(100)

In [1]:
#————————————————————————————————#

In [5]:
print("Hello, world!")

Hello, world!

In [1]:
def hello():
    print("Hello, world!")

# A test:
hello()

Hello, world!

In [2]:
 def hello():
    print("Hello, world!")

def test():
    hello()

if __name__ == '__main__': test()

Hello, world!

In [3]:
import sys
args = sys.argv[1:]
args.reverse()
print(' '.join(args))

C:\Users\admin\AppData\Roaming\jupyter\runtime\kernel-acb1d938-69bc-41de-a562-e3a326d6cc52.json -f